<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>

<form action="/member/login" method="post">


    email : <input name="email" > <br>

    password : <input name="password"> <br>



    <button type="submit">로그인</button>
    <button>회원가입</button>
</form>


</body>
</html>

